.company-banner {
    background-color: #3a3960;
    min-height: 200px;
    padding: 80px 0 0 100px;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
}
.company-container-banner {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-family: "Inter", serif;
    font-weight: 400;
    gap: 10px;
}
.company-banner #company-name {
    font-size: 40px;
}
.company-banner #company-email,
#company-address {
    padding: 0 0 0 10px;
}
.company-banner #company-name,
#company-email,
#company-address {
    text-align: left;
    color: white;
    margin: 0 0 0 50px;
    width: fit-content;
}
.company-banner img {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0 10px 0 0;
}
#company-email,
#company-address {
    display: flex;
    justify-content: left;
}
#company_profile-picture-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px auto;
    padding: 0;
}
.company-profile-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    cursor: pointer;
}
.company_profile-picture-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.company_profile-picture-wrapper label {
    cursor: pointer;
}
#company-update-picture-button {
    border: none;
    font-weight: bold;
    font-size: 12px;
    text-decoration: underline;
    color: white;
    cursor: pointer;
    background: none;
}

#company-banner-house-icon,
#company-banner-mail-icon {
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0 10px 0 0;
    filter: brightness(0) invert(1);
}
